/* TABLET */
@media all and (max-width: 1000px) {
  .top-wrapper {
    width: auto;
    background-size: cover;
  }

  .container h1 {
    font-size: 24px;
  }

  .container p {
    font-size: 18px;
  }

  .button {
    font-size: 16px;
  }

  .content-wrapper {
    flex-wrap: wrap;
  }

  .content-container {
    width: 50%;
    margin-bottom: 50px;
    text-align: center;
  }

  .destination-content-wrapper {
    flex-wrap: wrap;
  }
  .flip-card {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    /* margin-top: 50px; */
    /* text-align: center; */
  }
  .flip-card p {
    left: 130px;
  }
}

/* HP */
@media all and (max-width: 670px) {
  .top-wrapper {
    height: 400px;
  }

  .container {
    text-align: left;
  }

  .container h1 {
    justify-content: start;
    font-size: 18px;
  }

  .container p {
    justify-content: start;
    font-size: 14px;
  }

  .button {
    font-size: 16px;
    width: 100%;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-container p {
    font-size: 18px;
  }

  .signin {
    width: 100px;
  }

  .header {
    height: 60px;
  }

  .headleft {
    font-size: 14px;
  }

  .headright {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .footer {
    flex-direction: column;
    height: auto;
    padding-top: 20px;
  }

  .foot-left {
    margin-bottom: 20px;
  }

  .foot-center {
    margin-bottom: 20px;
  }

  .foot-right {
    margin-bottom: 20px;
  }

  .info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .info li {
    margin-bottom: 10px;
  }

  .destination-content-wrapper {
    flex-direction: column;
  }
  .flip-card {
    width: 100%;
  }
}
