.header{
    
    height:70px;
    width:100%;
    background-color: #40B2A1;
    display:flex;

}
.headleft{
    padding-top:10px;
    padding-left: 10%;
    flex-grow: 5;
    color:#FFFFFF;
    font-style: italic;
    font-size: 18px;

}

.headright{
    padding-top:18px;
    padding-right: 2%;
    flex-grow: 1;
    color:#000000;
    font-style: normal;
    font-size: 15px;
 
}

.signin{
    width:130px;
    border-radius: 10px;
    background-color: #ffffff;
    
    position: relative;
    text-align: center;
    transition: 0.5s;
 
}
.signin:hover{
    background-color: #E27D5F;
    transition: 0.5s;

}
.footer{
    display:flex;
    
    flex-direction: row;
    position:absolute;
 
    color:white;
    
    width:100%;
    bottom:0;
    background-color: #40B2A1;
}
.footleft{
    padding-left:3%;
    padding-top:10px;
    flex-grow:2;
    font-size: 18px;
}
.footcenter{
    flex-grow:10;
}
.footright{
    flex-grow:1;
    font-size: 20px;
    font-style: normal;
}
.info{
    display:flex;
    flex-direction: row;
}
.info li{
    list-style-type: none;
    padding :20px;
}


.top-wrapper {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0)), url(s-migaj-Yui5vfKHuzs-unsplash\ \(1\).jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    width: auto;
    height: auto;

    position:absolute;
    top:0;
    left:0;
    right: 0;

    color:white;
}

.container {
    width: 1170px;
    padding: 200px 50px 20px;
    margin: auto;
    text-align: center;
}

.container h1{
    font-size:48px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container h2{
    font-size:36px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container h3{
    font-size:24px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button {
    background-color: #E27D5F;
    border:none;
    color:white;
    text-align:center;
    font-size:18px;
    text-decoration: none;
    border-radius: 12px;
    padding: 20px;
    font-family: Poppins;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pict{
    width: 230px;
    height: 150px;
}

.service-title{
    /* background-color: red; */
    text-align: center;
    padding-top: 14px;
    font-size: 28px;
}

.content-wrapper{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    /* padding-bottom: 99px; */
    /* width: 25%; */
}

.services-wrapper{
    /* background-color: blue; */
    height: 433px;
}

.content-container{
    /* background-color: green; */
    /* margin-right: 95px; */
    height: 200px;
    width: 230px;
    /* flex: auto; */
    transition: 0.5s;
    opacity: 0.6;
}

.content-container:hover{
    opacity: 1;
}

.content-container p{
    font-size: 20px;
    /* margin-top: 30px; */
    /* flex: auto; */
}
