* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  height: 70px;
  width: 100%;
  background-color: #40b2a1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.headleft {
  color: white;
  /* font-style: italic; */
  font-size: 18px;
}

.headright {
  color: #000000;
  font-style: normal;
  font-size: 15px;
}

.login {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  transition: 0.5s;
}

.login:hover {
  background-color: #e27d5f;
  transition: 0.5s;
}

/* Main */
.top-wrapper {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    url(https://unsplash.com/photos/Yui5vfKHuzs/download?force=true&w=1920);
  background-size: cover;
  background-position: center center;

  height: 500px;
  top: 0;
  left: 0;
  right: 0;

  color: white;

  padding: 100px 50px 0;
}

.container {
  text-align: center;
}

.container h1 {
  font-size: 36px;
  display: flex;
  justify-content: center;
  opacity: 0.9;
}

.container p {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 20px;
  background-color: #e27d5f;
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
}

/* Services */
.services-wrapper {
  padding-top: 50px;
  margin-bottom: 50px;
}

.service-title {
  text-align: center;
  padding-top: 14px;
  font-size: 28px;
}

.content-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

.pict {
  width: 230px;
  height: 150px;
}

.content-container {
  height: 200px;
  width: 230px;
  transition: 0.5s;
  opacity: 0.6;
}

.content-container:hover {
  opacity: 1;
}

.content-container p {
  font-size: 20px;
}

/* Footer */
.footer {
  height: 80px;
  padding: 0 50px;
  display: flex;
  color: white;
  background-color: #40b2a1;
  align-items: center;
  justify-content: space-between;
}

.foot-left h1 {
  font-size: 24px;
}

.foot-center {
  display: flex;
  flex-direction: row;
}

.social-logo {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 0 15px;
}

.foot-right {
  font-size: 18px;
  font-style: normal;
}

.info {
  display: flex;
  flex-direction: row;
}

.info li {
  list-style-type: none;
  margin: 0 10px;
}
